html, button, input, select, textarea, 
.pure-g [class *= "pure-u"] {
	font-family: 'Quicksand', sans-serif;
}
#navbar {
	font-size: 40px;
	position: fixed;
	background-color: rgba(159,159,159,0.9);
}
ul {
	font-size: 25px;
}
.banner {
	height: 760px;
	background-repeat: no-repeat;
	background-image: url('https://cloud.githubusercontent.com/assets/8826297/4554875/dd98851a-4eb5-11e4-8889-db4ce1c5c9f8.jpg');
	background-attachment: fixed;
    background-position: 0 0; 
    background-size: cover;
    width: 100%;
}
#name {
	position: fixed;
	font-size: 40px;
	color: white;
	text-align: left;
	padding-top: 4em;
}
.headshot {
	position: fixed;
	padding-top: 9em;
	padding-left: 7em;
}
.content {
	position: relative;
}
#projectstitle, #resumetitle, #contactstitle {
	padding-top: 1em;
	font-size: 50px;
	text-align: center;
	color: white;
	height: 200px;
	width: 100%;
}
#projectstitle {
	background-image: url('https://cloud.githubusercontent.com/assets/8826297/4554870/dd887bc0-4eb5-11e4-844f-9a651f04ccc8.jpg');
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
}
#projectsdescript, #resumedescript, #contactdescript{
	background-color: #EEEEEE;
	padding: 1.5em;
	font-size: 35px;
}
#projectsdescript a:link, a:visited {
	text-decoration: none;
	color: black;
}
#contactdescript a:link, a:visited {
	text-decoration: none;
	color: black;
}
#projectsdescript a:hover, a:active{
	text-decoration: none;
	color: #666666;
}
#contactdescript a:hover, a:active {
	text-decoration: none;
	color: #666666;
}
#resumedescript a:link, a:visited {
	text-decoration: none;
	color: black;
}
#resumedescript a:hover, a:active {
	text-decoration: none;
	color: #666666;
}
#resumetitle {
	background-image: url('https://cloud.githubusercontent.com/assets/8826297/4554872/dd8f1e58-4eb5-11e4-9524-e04f77081ac4.jpg');
	background-position: bottom left;
	background-size: cover;
}
#pennappsinfo, #dpinfo, #pennsustainsinfo {
	padding-top: 1em;
	padding-bottom: 1em;
}
#pennapps, #dp, #pennsustains {
	padding-top: 2em;
}
#contactstitle {
	background-image: url('https://cloud.githubusercontent.com/assets/8826297/4554869/dd8695d0-4eb5-11e4-8794-010323c25e64.jpg');
	background-size: cover;
}
#contactdescript {
	padding: 2em;
}
#socialmedia {
	font-size: 40px;
	color: white;
	padding-top: 260px;
	padding-left: 2em;
	padding-bottom: 0em;
}
#endbanner {
	background-image: url('https://cloud.githubusercontent.com/assets/8826297/4554873/dd91c996-4eb5-11e4-8c94-8ef98f024756.jpg');
	background-position: center left;
	height: 400px;
	width: 100%;
	background-size: cover;
}